body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* HEADER */
header {
    background: #020617;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* GRID */
.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

/* INPUT */
input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
}

/* ADMIN */
.admin {
    display: none;
    padding: 20px;
    background: #020617;
    margin-top: 20px;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
}